<twixt-modal *ngIf="showModal" title="Modal Title">
  <div modalBody>
    <!-- Content for the modal body goes here -->
    <p>This is the content of the modal. You can add any content here. Lorem ipsum dolor sit amet</p>
  </div>
  <div modalFooter>
    <!-- Content for the modal footer goes here -->
    <twixt-button overwriteClass="px-4 py-2 bg-indigo-500 text-white rounded-md" (onClick)="setToShowModal(false)">
      Close
    </twixt-button>
  </div>
</twixt-modal>


<twixt-dialog *ngIf="showDialog" title="Deactivate account"
  desc="Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.">
  <twixt-button overwriteClass="px-4 py-2 ml-2 bg-indigo-500 text-white rounded-md" (click)="setToShowDialog(false)">
    Deactivate
  </twixt-button>
  <twixt-button overwriteClass="px-4 py-2 bg-indigo-500 text-white rounded-md" (click)="setToShowDialog(false)">
    Cancel
  </twixt-button>
</twixt-dialog>

<div className="flex h-screen bg-green-300">
  <div className="flex-1 flex flex-col overflow-hidden">
    <!-- <app-sample-header></app-sample-header> -->
    <twixt-header headerClass="bg-blue-300" [announceMent]="announcementObject">
      App
      <ng-template #rightBlock>
        <!-- Content for right block goes here -->
        <button class="some-button-class">Right Block Button</button>
      </ng-template>
    </twixt-header>
    <div className="flex h-full">

      <h1>{{ title }}</h1>
      <p>{{ subTitle }}</p>
      <app-user-name-input></app-user-name-input>
      <div>
        <twixt-button overwriteClass="px-4 py-2 bg-indigo-500 text-white rounded-md" (onClick)="setToShowDialog(true)">
          Open Dialog
        </twixt-button>
        <br />
        <br />
      </div>

      <div>
        <twixt-button overwriteClass="px-4 py-2 bg-indigo-500 text-white rounded-md" (onClick)="setToShowModal(true)">
          Open Modal
        </twixt-button>
      </div>
      <twixt-comment-system></twixt-comment-system>
    </div>
  </div>
</div>